.form {
  max-width: 385px;
  text-align: left;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: flex;
  border-radius: 4px;
  margin: 8px 0 32px;
  padding: 15px 20px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
  padding: 0;
  background-color: #2f80ed;
  opacity: 1;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  border: none;
}

.form__button:hover {
  background-color: #2f80ed;
  opacity: 0.7;
}

.form__label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  padding-bottom: 120px;
}
.form__checkbox-input {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/icon_check.svg);
  width: 20px;
  height: 20px;
}
