.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  margin: 0;
  column-gap: 20px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link:hover {
  color: #2f80ed;
}
