.footer {
  box-sizing: border-box;
  background-color: #0a2850;
  padding: 60px 80px 108px 80px;
  color: white;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 108px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__circle {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #2f80ed;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: -1;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__social-link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:hover {
  background-color: #c1c1c1;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
