@import url(../vendor/normalize.css);
@import url(../blokcs/page.css);
@import url(../blokcs/header.css);
@import url(../blokcs/nav.css);
@import url(../blokcs/recipes.css);
@import url(../blokcs/reservation.css);
@import url(../blokcs/form.css);
@import url(../blokcs/footer.css);
