.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
}

.header {
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  margin: 0;
  column-gap: 20px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin-top: 28px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: flex-end;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px 80px;
  color: white;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  margin: 24px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.reservation__title {
  margin: 0 auto 80px;
  padding: 100px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form {
  max-width: 385px;
  text-align: left;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: flex;
  border-radius: 4px;
  margin: 8px 0 32px;
  padding: 15px 20px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
  padding: 0;
  background-color: #2f80ed;
  opacity: 1;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  border: none;
}

.form__button:hover:enabled {
  background-color: #2f80ed;
  opacity: 0.7;
}

.form__label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  padding-bottom: 120px;
}
.form__checkbox-input {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/icon_check.svg);
  width: 20px;
  height: 20px;
}
